{% extends 'base.html' %}
{% load static %}

{% block title %} Add a Picture {% endblock %}

{% block content %}
<h1> Upload a New Image: </h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  
    
    <label for="id_image">Upload images (hold Ctrl or Cmd to select multiple):</label>
    <input type="file" name="image" id="id_image" multiple>
    <button type="submit">Update Post</button>
</form>
<p> <a href="{% url 'report:post_detail' recipe.pk %}"> Return to the Recipe </a> </p>
{% endblock %}

